.dogInfo .dogImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.dogCard .dogCardImg {
  height: 250px;
}

.dogModalImg {
  height: 500px;
}

.dogIcon {
  display: flex;
}

nav .searchNav {
  margin-top: 3rem;
}

.dogCard {
  overflow: hidden;
  position: relative;
}

.dogCard img {
  box-sizing: border-box;
  transition: all 1s ease;
}

.dogCard img:hover {
  transform: scale(102%);
  transition: all 0.8ms ease;
  cursor: pointer;
}
.dog_title {
  color: var(--gris);
}
strong {
  color: var(--primario);
}
.dog_description {
  border: solid 1px var(--grisClaro);
  height: 80px;
}
.location-modal {
  font-size: 1.8rem;
}
