.title {
  font-size: 2rem;
  color: var(--primario);
}

textarea {
  resize: none;
}

label {
  color: rgb(5, 109, 114);
  font-size: 1.2rem;
  margin-left: 5px;
}

.error {
  margin-left: 5px;
  font-size: 1.2rem;
  color: red;
}

.photo {
  height: 200px;
  width: 200px;
  /* padding: 5px; */
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid black;
  object-fit: cover;
}

input {
  height: 4rem;
  font-size: 1.5rem !important;
}
